html, body{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.container-fluid{
  width: 75%;
  margin: 150px auto;
  text-align: center;
}

#time{
  font-size: 155px;
}

#date {
  font-size: 25px;
  position: relative;
  bottom: 25px;
}