<!DOCTYPE html>
<html ng-app="mini-data" ng-csp>
  <head>
    <title>Mini-Data</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body ng-controller="bodyCtrl">
    <div class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" ng-click="showMainFn()">Home</a>
          <a class="navbar-brand" href="#" ng-click="showGoalsFn()">Goals & Stats</a>
          <a class="navbar-brand" href="#" ng-click="showNewGoalFn()">New Goal </a>
        </div>
        <ul class="nav navbar-nav pull-right">
          <li>
            <a class="dropdown-toggle pointer">
              <i class="fa fa-gear fa-2x"></i>
            </a>
            <ul class="dropdown-menu">
            <li><a>Thing One</a></li>
            <li><a> Thing Two </a></li>
            </ul>
          </li>
          <li>
            <a class="dropdown-toggle pointer">
              <i class="fa fa-user fa-2x"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="pointer" ng-if="isLoggedIn()" ng-click="logout()"><a>Log Out</a></li>
              <li class="pointer" ng-if="!isLoggedIn()" ng-click="login()"><a>Log In</a></li>
            </ul>
          </li>
        </ul>
    </div>
    <div id="container-full" ng-controller="mainCtrl" ng-if="showMain">
      <div class="container-fluid">
        <div class="time" ng-bind="time"></div>
        <div class="date" ng-bind="date"></div>
        <div class="show-goals btn btn-default" ng-click="showGoalsFn()"> Show Goals and Statistics </div>
        <div class="new-goal btn btn-default" ng-click="showNewGoalFn()"> New Goal </div>
      </div>
    </div>

    <!-- Statistics & Goals View -->
    <div id="new-goal-container" ng-controller="goalsDataCtrl" ng-if="showGoals">
      <div class="container-fluid">
        <h1> Goals and Statistics </h1>
          <div id="inner-container">
            <div id="goal-card" ng-repeat="data in dummyData">
              <h3> Goal: {{data.goal}} {{data.time}} every {{data.every}}</h3>
            </div>
          </div>
      </div>
    </div>


    <!-- New Goals View -->
    <div id="show-goals-container" ng-controller="newGoalCtrl" ng-if="showNewGoal">
      <div class="container-fluid">
        <h1> New Goal </h1>
        <div id="inner-container" >
          <div class="input-group">
            <span class="input-group-addon">Goal</span>
            <input type="text" class="form-control" placeholder="" ng-model="goal.text">
          </div>
          <div id="timeline-container">
            <select class="form-control" ng-model="goal.time">
              <option value="once">Once</option>
              <option value="twice">Twice</option>
              <option value="3x">3X</option>
              <option value="4x">4X</option>
              <option value="5x">5X</option>
            </select> 
            <span id="every"> every</span>
            <select class="form-control" ng-model="goal.every">
              <option value="day">Day</option>
              <option value="week">Week</option>
              <option value="month">Month</option>
              <option value="yaer">Year</option>
            </select> 
          </div>
          <button type="submit" class="show-goals btn btn-default" ng-click="submitGoal()"> Submit </button>
        </div>
      </div>
    </div>

    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-charts/dist/angular-charts.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
    <script type='text/javascript' src='https://cdn.firebase.com/js/simple-login/1.2.5/firebase-simple-login.js'></script>
    <script src="js/app.js"></script>
    <script src="js/main-ctrl.js"></script>
    <script src="js/body-controller.js"></script>
    <script src="js/goals-data-controller.js"></script>
    <script src="js/new-goal-controller.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
  </body>
</html>
